fastapi
uvicorn
streamlit
requests
langchain
langgraph
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-pinecone
langchain-community
pinecone
pypdf
unstructured
sentence-transformers
python-multipart
tiktoken
python-dotenv
selenium